<!--The content below is only a placeholder and can be replaced.-->
<div id="app">
  <div id="nav">
    <a routerLink="/">Home</a>
    |
    <a routerLink="/products">Products</a>
    |
    <a routerLink="/policies">Policies</a>
    |
    <a routerLink="/account">Account</a>
  </div>

  <hr/>

  <div id="main-container">
    <router-outlet></router-outlet>
  </div>

  <footer>
    <img src="./assets/logos/logo_horizontal.png" alt="Logo Footer"/>
    <p><a href="https://altkomsoftware.pl">Altkom Software & Consulting LAB @ 2019</a></p>
  </footer>
</div>
